body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background: #1F2937;
    color: #E5E7EB;
    font-size: 24px;
    padding: 0 12.5%;
    font-weight: 900;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    font-size: 24px;
}

.header-links {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bottom-header {
    display: flex;
    padding: 100px 0px;
    align-items: center;
    justify-content: space-between;
}

.container1 {
    width: 500px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    font-weight: normal;
    justify-content: space-between;
}

.container1 h2 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.container1 p {
    font-size: 18px;
    margin: 0;
}

.container1 button {
    background: #3882F6;
    color: white;
    border-style: hidden;
    width: fit-content;
    padding: 8px 32px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 900;
    border-radius: 8px;
    
}
.image {
    background: gray;
    color: white;
    width: 500px;
    height: 250px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section1 {
    display: flex;
    flex-direction: column;
}

.empty-box {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: blue;
}

.info {
    width: 250px;
    height: 250px;
}

