body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    background: #1F2937;
    color: white;
    font-size: 24px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.bottom-header {
    display: flex;
}

